

<legend>Subscription Type</legend>

<div class="form-group col-md-12">
    <p id='sub_selection'>{{ subscription_form.sub_type }}</p>
    <form role="form" id="payment-form">
        <div>
          <p hidden id='sub_selection_para'></p>
          <!--<p hidden id='sub_selection_button'><input id='sub_selection_button' class='btn btn-primary' id='submit_payment_btn' name='commit' type='submit' value='Continue'></p>-->
          <button id='sub_selection_button' type='button' class='btn btn-primary' onclick='showCheckout()'>Continue</button>
        </div>
    </form>
</div>


    
