{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %} # used to format the DJANG fomrs

{% block head_js %}

<script src="https://js.stripe.com/v2/" type="text/javascript"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>

{% endblock %}


{% block content %}
    
<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">

  <legend>Subscription Type</legend>
  
  {% csrf_token %}
  <div class="form-group col-md-12">
    
    <p id='sub_selection'>{{ subscription_form.sub_type }}</p>

    <div>
      <p hidden id='sub_selection_para'></p>
      <p hidden id='sub_selection_button'><input id='sub_selection_button' class='btn btn-primary' id='submit_payment_btn' name='commit' type='submit' value='Continue'></p>
    </div>

    
  </div>

</form>
    

<script src="{% static 'js/main.js' %}"></script>
{% endblock %}