{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %} # used to format the DJANG fomrs

{% block head_js %}
<script src="https://js.stripe.com/v2/" type="text/javascript"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>

{% endblock %}


{% block content %}

{% csrf_token %}

<div id="select">
  {% include '_select.html' %}
</div>

<div hidden id="checkout">
  {% include '_checkout.html' %}
</div>

{% endblock %}