{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block content %}

<div class="container" >
    <h1>Snippet Page</h1>
        
    <hr>
    
    <div class="row">
        <div class="col-md-8" >
            <h3>{{ video }}</h3>
            <div id="player"></div>
        </div>
        
        <div class=" col-md-4">
            <h3>Snippets List</h3>
            <div id="snippet_list">
                {% for snippet in snippets %}
                    <p>
                        <a href='{% url "view_video" video.id snippet.id %}'><i class="fa fa-pencil"></i></a>
                        <a href='{% url "delete_snippet" video.id snippet.id %}'><i class="fa fa-trash"></i></a>
                        <a class='snippet_links' href='{% url "view_video" video.id snippet.id %}'>{{ snippet.title }}</i></a>
                    </p>
                {% endfor %}
            </div>
            <a href='{% url "view_video" video.id 0 %}'><i class="fa fa-plus"></i></a>
        </div>

    </div>
    
    <div class="row">
        <div class="col-md-8">
            <h4>Progress</h4>
            
            <input type="range" id="progress-bar" value="0">
            
            <h3>Snippet Controls</h3> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class ="snippet_controls">
                <form method="POST">
                    
                    {% csrf_token %}
                    <p>
                        <label for="title">Title: </label>
                        {{form.title }}
                    </p>
                    <p>
                        <label for="start">Start Marker: </label>
                        {{form.start}}
                        
                        <label for="end">End Marker: </label>
                        {{form.end}}
                        
                        <label for="jump">Jump Back: </label>
                        {{form.jump}}
                    </p>
                    <p>
                        <button type="submit" class="btn btn-info" formaction="{% url "add_snippet" video.id snippet.id %}">Save</button>
                        <button type="button"  id="play_btn" class="btn btn-info" onclick="playSnippet()">Play</button>
                        <button type="button" class="btn btn-info" onclick="jumpBack()">Jump Back</button>
                        <button type="button" class="btn btn-info" onclick="playReset()">Reset</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="snippet_controls col-md-4">
            <p>
                <label for="current-time">Current Position: </label>
                <span id="current-time"></span>
            </p>
            <p>    
                <label for="duration">Video Length: </label>
                <span id="duration"></span>
            </p>
        </div>
    </div>
</div>

<br><hr><br>

{% endblock %}

{% block footerjs %}

<script>

    var videoid = '{{yt_id}}';

</script>

<script src="{% static 'js/youtube.js' %}"></script>
    
{% endblock %}
